body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 120px 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.main-title {
  letter-spacing: 0.02em;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  color: #ffffff;
  text-align: center;
}

.second-title {
  letter-spacing: 0.02em;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  color: #2e2f42;
  text-align: center;
}

.sub-second-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.accent {
  color: #4d5ae5;
}

.employee-social-icon,
.footer-social-icon {
  fill: none;
}
/* ---------------------------------------------------------------------------------------------------------- */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  margin-right: 76px;
  padding: 1.5px 0;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.address-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.header-logo,
.footer-logo {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #2e2f42;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.17;
}

.nav-link {
  display: block;
  position: relative;
  padding: 24px 0;
  color: #2e2f42;
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.active {
  color: #404bbf;
}

.active::after {
  bottom: -1px;
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

address {
  font-style: normal;
}

.address-link {
  display: block;
  color: #434455;
  font-weight: 400;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.address-link:hover,
.nav-link:focus,
.address-link:focus {
  color: #404bbf;
}

.hero-container {
  text-align: center;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
}

.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero_background.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-size: cover;
  padding: 188px 0;
  background-color: #2e2f42;
}

.order-button {
  line-height: 1.5;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  margin-top: 48px;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 0.04em;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-box {
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
}

.features-icon {
  display: block;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-list-item {
  width: calc((100% - 72px) / 4);
}

.features-list-sub-item {
  margin-top: 8px;
}

.our-team {
  background-color: #f4f4fd;
}

.team-list {
  margin-top: 72px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-list-item {
  width: 264px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #ffffff;
}

.employee-name,
.employee-position {
  text-align: center;
}

.employee-name,
.portfolio-name {
  margin-bottom: 8px;
}

.card-container {
  padding: 32px 16px;
}

.employee-social-list {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.employee-social-item {
  width: 40px;
  height: 40px;
}

.employee-social-link:hover,
.employee-social-link:focus {
  background-color: #404bbf;
}

.employee-social-link {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.employee-social-icon {
  fill: #f4f4fd;
}

.portfolio-list {
  margin-top: 72px;
  display: flex;
  row-gap: 48px;
  column-gap: 24px;
  flex-wrap: wrap;
}

.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-card-container {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.portfolio-image-container {
  position: relative;
  overflow: hidden;
}

.portfolio-description {
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px 0 32px;
  position: absolute;
  top: 0;
  color: #f4f4fd;
  background: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .portfolio-description {
  transform: translateY(0);
}

.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}

.footer-container {
  display: flex;
  align-items: baseline;
  gap: 120px;
}

.footer-logo {
  display: block;
  margin-bottom: 16px;
}

.footer-text {
  max-width: 264px;
}

.footer-logo,
.footer-text {
  color: #f4f4fd;
}

.social-media {
  font-weight: 500;
  color: #fff;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-social-link {
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social-icon {
  fill: #f4f4fd;
}
